
    <section class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="white-row">
                <section>
<div class="row">
<div class="col-md-12">
<img class="img-responsive inner" src="https://artanidos.pythonanywhere.com/nocode/static/assets/images/chakren.png"/>
<div style="margin-top: 20px;"></div>
<h2 id="grundlagen">Grundlagen</h2>
<p>Hier werde ich dir die Grundlagen der heiligen Sexualität zeigen, wie Chakren, Nadis, Atmung, Kundalini, Yoga usw.</p>
<div style="margin-top: 20px;"></div>
<h2 id="chakrensystem">Chakrensystem</h2>
<p>Du kannst in jedem Yoga- oder Tantra-Buch über das Chakrensystem lesen. Was ich dir hier jedoch mitteilen möchte, ist eine kurze Erklärung in den Worten eines Laien.</p>
<p>Die Chakren sind Energiezentren in oder um unseren Körper. Physisch sind diese Energiezentren nicht manifestiert, sondern existieren in subtiler Form – sie sind unsichtbar. Doch was ich über dieses System gelernt habe, hält mich nicht davon ab, an seine Existenz zu glauben.</p>
<p>Das System besteht im Wesentlichen aus 7 Chakren:</p>
<ol>
<li>
<p><strong>Muladhara</strong> – Das Wurzelchakra befindet sich im Perineumbereich, zwischen Anus und Lingam, und zeigt nach unten. Hier sitzt die Überlebensangst. Ist dieses Chakra aktiviert, sorgt man sich nicht mehr um das Überleben, weil man weiß, dass man überleben wird, egal was passiert.</p>
</li>
<li>
<p><strong>Swadhistana</strong> – Das Sexualchakra befindet sich auf Höhe des Lingams. Es ist das Zentrum der Kreativität. Dieses Chakra wird durch Sexualität energetisiert. Zu viel Energie in diesem Bereich kann dazu führen, dass ein Mann im Schlaf ejakuliert, um den Druck zu entlasten.</p>
</li>
<li>
<p><strong>Manipura</strong> – Das Nabelchakra wird in einigen Texten auch als Solarplexus-Chakra bezeichnet. Es befindet sich entweder auf Höhe des Nabels oder des Brustbeins. Ein aktives Manipura bringt starke Willenskraft, Leidenschaft, Temperament und inneres Feuer. Ist es blockiert, treten Ängste auf.</p>
</li>
<li>
<p><strong>Anahata</strong> – Das Herzchakra liegt auf Höhe des Brustbeins. Es ist das Zentrum von Liebe, Toleranz, Offenheit und Anpassungsfähigkeit. Ist es blockiert, fühlt man einen Mangel an Liebe und eine Trennung von der Welt.</p>
</li>
<li>
<p><strong>Vishuddha</strong> – Das Halschakra regelt Kommunikation und Durchsetzungsvermögen. Ist es blockiert, fällt es schwer, sich richtig auszudrücken.</p>
</li>
<li>
<p><strong>Ajna</strong> – Als drittes Auge bekannt, ermöglicht es telepathische, telekinetische und hellseherische Fähigkeiten, wenn es aktiviert ist. Es beherbergt zudem Intellekt und Intuition.</p>
</li>
<li>
<p><strong>Sahasrara</strong> – Das Kronenchakra ist unser Tor zum Universum, zu Gott und zur Einheit.</p>
</li>
</ol>
<h2 id="reinigung-des-chakrensystems">Reinigung des Chakrensystems</h2>
<p>Das Chakrensystem sollte sauber und rein gehalten werden, damit Energie frei fließen kann, um unsere Organe zu nähren. Leider können Chakren durch schlechte Ernährung verschmutzt werden, z. B. durch den Konsum von Fleisch, Zucker, Fast Food, Alkohol, gesüßten Getränken und verarbeiteten Lebensmitteln. Auch Zigarettenrauch behindert den Fluss von Prana, da er die Lunge mit Substanzen wie Teer verstopft.</p>
<p>Das Anschauen von Pornografie, das Spielen von Kriegsspielen und der Konsum von Fernsehen und Radio tragen zur geistigen Trägheit bei und verschmutzen unser System. Fernsehen wird oft als 'Unterhaltung' bezeichnet, aber die dahinterstehenden Kräfte könnten versuchen, unsere spirituelle Entwicklung zu verhindern, um uns kontrollierbar zu halten. Sobald wir erwachen, würden wir keine unnötigen Produkte mehr kaufen oder 40 Stunden pro Woche arbeiten, weil wir viel weniger Geld brauchen würden.</p>
<p>Du kannst mich als Verschwörungstheoretiker abstempeln, wenn du willst. Doch ich nehme dies als Realität wahr, nicht als Theorie. Aber wir können uns wehren: Schmeiß den Fernseher raus, wirf das Radio weg, baue dein eigenes Obst und Gemüse an, meide Fleisch und verarbeitete Lebensmittel, streiche Zucker – ja, auch Schokolade – höre auf zu rauchen, trinke keinen Alkohol mehr und ziehe aufs Land, um manipulative Werbung zu vermeiden.</p>
<p>Das bloße Verständnis des Systems reicht oft schon aus. Sobald du es verstehst, kannst du es zu deinem Vorteil nutzen.</p>
<h2 id="prana-heilung-und-prana-flow-massage">Prana-Heilung und Prana-Flow-Massage</h2>
<p>Wenn dein Energiesystem verschmutzt ist, kannst du eine Prana-Heilung durchführen lassen oder eine Prana-Flow-Massage genießen. Letztere ist eine Methode, die ein Freund und ich entwickelt haben. Diese Massage kombiniert Elemente aus Ayurveda, Yin-Yang, Tantra und anderen Massagetechniken.</p>
<p>Prana ist reine Lebensenergie, die durch den Körper fließen kann, wenn der Mensch in natürlicher Harmonie ist. Wenn Prana frei fließt, fühlen wir uns vital und voller Lebensfreude. Energetische und sexuelle Blockaden können sanft mit der Prana-Flow-Massage gelöst werden. Alte Wunden, die im Energiesystem gespeichert sind, können auftauchen und sich auflösen. Sanfte Massagen und gezielter Druck stimulieren Energiepunkte, und die freigesetzte Energie wird im Körper verteilt. Sobald die Energie frei fließt, konzentriert sich die Arbeit auf den feinstofflichen Körper, was oft Energiewellen erzeugt, die zu intensiven Erlebnissen bis hin zu orgasmusähnlichen Empfindungen führen können.</p>
<p>Die Massage kann auch als sanfte Einführung für diejenigen dienen, die keine intimen Berührungen wünschen. Auf Wunsch kann eine Lingam- oder Yoni-Massage integriert werden, um noch mehr Energie freizusetzen.</p>
<h3 id="wirkung-der-energieentfaltung">Wirkung der Energieentfaltung</h3>
<p>• <strong>Swadhistana</strong> – Diese Art von Orgasmus ist bekannt und nicht besonders außergewöhnlich.
• <strong>Manipura</strong> – Hast du schon einmal während des Sex in Gelächter ausgebrochen? Dies deutet auf eine Energieentladung im Manipura-Chakra hin.
• <strong>Anahata</strong> – Wenn du während des Sex oder einer Massage weinst und dabei sowohl Trauer als auch Freude empfindest, ist dein Herzchakra (Anahata) möglicherweise mit Prana überflutet.
• <strong>Vishuddha</strong> – Ich habe dies persönlich nicht erlebt, bin aber neugierig auf deine Erfahrungen. Vielleicht fängt man an zu singen.
• <strong>Ajna</strong> – Eine Frau beschrieb nach einer tantrischen Massage, dass sie orgasmische Energie in leuchtenden Farben sah.
• <strong>Sahasrara</strong> – Ich erlebte dies als Ekstase, unbeschreiblich in Worten. Ein Kollege berichtete von einer außerkörperlichen Erfahrung in diesem Zustand.</p>
<h3 id="energie-fokussieren">Energie fokussieren</h3>
<p>Während der Meditation konzentrieren sich Yogis auf ihr drittes Auge (Ajna) und lenken dort ihre gesamte Energie hin. Ähnlich verhält es sich bei der Prana-Flow-Massage: Die Energie fließt dorthin, wo die Aufmerksamkeit liegt. Das Berühren bestimmter Punkte lenkt die Energie dorthin und erzeugt kraftvolle und heilende Empfindungen.</p>
<p>Diese heilige Praxis zeigt die Macht der fokussierten Aufmerksamkeit und ihre tiefgreifenden Auswirkungen auf das menschliche Energiesystem.</p>
<div style="margin-top: 20px;"></div>
<h2 id="hormone">Hormone</h2>
<iframe width="807" height="453" src="https://www.youtube.com/embed/sm_cx8Aosuo" 
title="YouTube video player" 
frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe></div>
</div>
</section>

                </div>
            </div>
            <div class="col-md-3">
                <div class="white-row">
                <h2>Navigation</h2>
 <p>Das ist ein Menu mit einer Liste aller Topics.</p>
<ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/home'>Einführung</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/grundlagen'>Grundlagen</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/massage'>Massage</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/deamoring'>Entpanzerung</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/ritual'>Massage Ritual</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/community'>Community und Networking</a></li>
<ul>
</ul>
</ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9" style="margin-top: 20px">
                <div class="white-row">
                <h2 id="about-the-course">Über den Kurs</h2>
                <p>Dieser Online-Kurs wurde entwickelt, um dir zu helfen, die tiefen Verbindungen zwischen Körper, Geist und Seele zu erforschen – durch Praktiken wie Energiearbeit, achtsame Massage, Entpanzerung und bewusste Sexualität. Du wirst mehr über Chakren, Nadis und Kundalini lernen, um deinen eigenen Energiefluss zu verstehen und zu optimieren. Durch Rituale und einen sanften, traumasensiblen Ansatz unterstützt der Kurs die Lösung emotionaler Blockaden und fördert authentische Intimität. Egal, ob du Single bist oder in einer Beziehung lebst – du wirst praktische Werkzeuge, Übungen und eine unterstützende Gemeinschaft entdecken, um mehr Selbstbewusstsein, tiefere Beziehungen und ganzheitliches Wohlbefinden zu erfahren.</p>
                    </div>
            </div>
            <div class="col-md-3" style="margin-top: 20px">
                <div class="white-row">
                <h2 id="about-the-author">Über den Autor</h2>
                <p class="lead">Adam Art Ananda</p>
                <p>Art, mit bürgerlichem Namen Olaf, war lange Zeit als Softwareentwickler und Designer tätig – bis er 2014 an einem Tantra-Massage-Workshop teilnahm. Seit diesem Tag hat er sein Leben komplett verändert. Er gab seinen gut bezahlten Job in der Schweiz auf und zog nach Dänemark, um endlich das Leben zu genießen (unter anderem beim Kitesurfen). In letzter Zeit war er in Portugal, um beim Aufbau von Gemeinschaften und einer neuen, auf Wahrheit und Liebe basierenden Wirtschaft mitzuwirken. Derzeit lebt er in Berlin (Deutschland).

Nach verschiedenen Massage-Ausbildungen entwickelte er seine eigene Technik: die Prana-Flow-Massage. Trotz seiner neuen Lebensweise ist Art weiterhin im Design tätig – wie man auf dieser Website sehen kann.</p>
                </div>
            </div>
        </div>
    </section>