
    <section class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="white-row">
                <section>
<div class="row">
<div class="col-md-12">
<img class="img-responsive inner" src="https://artanidos.pythonanywhere.com/nocode/static/assets/images/Couple.png"/>
<div style="margin-top: 20px;"></div>
<h2 id="einführung">Einführung</h2>
<p>Dieser Online-Kurs dreht sich rund um tantrische Sexualität, das Chakrensystem, Kundalini, Prana und wie all das zusammenwirkt.
Wenn wir aufwachsen, bringt uns niemand bei, wie wir eine gesunde Sexualität leben können. Niemand führt uns in Tantra oder den Buddhismus ein – weder im Kindergarten noch in der Schule. Wir müssen es selbst herausfinden. Zumindest war das meine Erfahrung. In der Schule lernen wir nur, wie man eine Schwangerschaft vermeidet, aber das war es auch schon.
Also, was haben wir getan? Wir haben uns ein paar Artikel durchgelesen, wie jene aus der <em>BRAVO</em>, wo wir ein wenig mehr über Sexualität erfahren konnten.</p>
<p>Heutzutage haben unsere Kinder leicht Zugang zu Pornografie.
Während Pornografie nicht per se negativ ist, vermittelt sie oft eine begrenzte und manchmal schädliche Sichtweise auf Sexualität. Als Yogi bin ich völlig gegen Gewalt. <em>Ahimsa</em>, ein grundlegendes Konzept im Yoga, betont, dass Gewalt schädlich ist und unter allen Umständen vermieden werden sollte.</p>
<p>In einer Welt, in der Intimität oft durch Bildschirmkonsum ersetzt wird, ist es wichtiger denn je, authentische und heilende Wege zur Sexualität zu entdecken.</p>
<p>In diesem Kurs wirst du lernen, wie du deine Energie durch Atemtechniken und einfache Übungen lenken kannst, wie du bewusste Berührung anwendest und wie du eine tiefere Verbindung zu deinem Partner aufbaust.</p>
<div style="margin-top: 20px;"></div>
<h2 id="wer-ich-bin">Wer ich bin</h2>
<p>Nachdem ich 2014 nach einem Burnout meinen regulären Job in einer Bank in Zürich kündigte, begann ich, Shiatsu-Sitzungen zu nehmen. Ich wollte etwas Ähnliches machen, da ich diese Art der Behandlung wirklich genoss.
Da Shiatsu jedoch nicht den gesamten Körper einbezieht, entschied ich mich, Tantra-Massage in Luzern bei Jacqueline Schönbächler zu lernen, einer Schülerin von Andro.</p>
<p>Andro brachte Tantra-Massage vor 45 Jahren nach Europa.</p>
<p>Bei diesem Massage-Workshop öffnete sich mein Herz, und ich erlebte meinen ersten Ganzkörperorgasmus – oder sollte ich sagen Ekstase. Egal, welche Worte ich benutze, sie können die Größe dessen, was ich tatsächlich erlebt habe, nur schmälern.
Ich lachte, ich weinte, ich fühlte, dass wir alle eins sind. Und ich blieb etwa fünfzehn Minuten lang in diesem Zustand. Ich wusste nicht, dass Männer so etwas erleben können. Ich hatte es zuvor nur von wenigen Frauen gehört.
Von diesem Tag an wollte ich mehr erforschen.</p>
<p>Später reiste ich nach Kopenhagen in Dänemark, um bei <strong>Somananda Moses Maimon</strong> eine Ausbildung in <strong>Ganzkörper-Orgasmus-Massage</strong> zu erhalten und nahm an vielen tantrischen Workshops im <strong>Diamond Lotus Tantra Massage Institut in Berlin</strong> teil. Ich erstellte sogar ihre Website, was mir ermöglichte, mit meiner Freundin an all ihren Workshops teilzunehmen.</p>
<p>Zusätzlich studierte ich <strong>Sexological Bodywork</strong> in Zürich bei <strong>Didi Liebold</strong> und <strong>Janine Hug</strong>.</p>
<div style="margin-top: 20px;"></div>
<h2 id="meine-mission">Meine Mission</h2>
<p>Nachdem ich herausgefunden hatte, dass Männer diesen Orgasmus ohne Ejakulation erreichen können, machte ich es mir zur Aufgabe, dieses Wissen mit jedem Mann auf diesem Planeten zu teilen.
Ich überwand auch meine Erektionsprobleme in meinen 50ern innerhalb eines halben Jahres und kann nun anderen Männern mit ähnlichen Herausforderungen helfen. Diese Männer können weiterhin mit Frauen Liebe machen. Ich werde Techniken im Abschnitt Slow Sex lehren und zeigen, wie eine Massage eine Alternative sein kann.</p>
<p>Ich bin auch einer der Männer, die Pornos konsumiert und Prostituierte besucht haben. Diese Erfahrung gab mir Einblick in das, was Männer wirklich brauchen – und was nicht.</p>
<p>Ich möchte die Erzählung so weit wie möglich ändern. Wir brauchen nicht so viel ungesunde, schädliche Pornografie, und wir brauchen keine billigen sexuellen Begegnungen. Was Männer wirklich brauchen, ist etwas anderes – wie eine Umarmung. Manchmal wollen wir einfach nur von jemandem geliebt werden, besonders wenn wir als Kinder nicht genug Liebe von unseren Eltern bekommen haben. Alles war an Bedingungen geknüpft: ‚Wenn du deine Hausaufgaben machst, liebe ich dich‘ oder ‚Wenn du dein Zimmer aufräumst, liebe ich dich‘. Das ist Konditionierung, keine Liebe.</p>
<div style="margin-top: 20px;"></div>
<h2 id="für-wen-dieser-workshop-ist">Für wen dieser Workshop ist</h2>
<p>Dieser Workshop ist für alle Menschen, die die Pubertät abgeschlossen haben. Allerdings können an einigen Orten gesetzliche Einschränkungen bestehen.
Ein guter Rat ist es, Teenagern ihre Sexualität selbst entdecken zu lassen. Aber wenn unsere Kinder dazu neigen, von Pornos zu lernen, würde ich es vorziehen, dass sie diesen Kurs studieren.</p>
<p>Dieser Kurs kann auch für ältere Menschen von Vorteil sein, da Techniken wie Slow Sex helfen können, eine gesunde und erfüllende Sexualität zu kultivieren.</p>
<p>Sexualität – oder genauer gesagt, das Aufsteigen von Energie – ist unglaublich wohltuend. Es gibt sogar ein Lied aus der Rainbow-Community, das so geht: '<em>Every little cell in my body is happy, every little cell in my body is well. I'm so glad, every little cell in my body is happy and well.</em>'</p>
<div style="margin-top: 20px;"></div>
<h2 id="für-wen-dieser-workshop-nicht-ist">Für wen dieser Workshop nicht ist</h2>
<p>Wie bereits erwähnt, ist er nicht für Teenager gedacht.
Dieser Workshop ist möglicherweise nicht geeignet für Menschen, die fest an traditionelle Beziehungsmodelle glauben oder Schwierigkeiten haben, neue Ideen anzunehmen. Dennoch lade ich dich ein, dies mit einem offenen Geist zu betrachten und zu überlegen, ob dieses Wissen dein Leben bereichern könnte.
Er ist nicht für Menschen, die gegenüber neuen Ideen verschlossen sind oder sich ausschließlich auf Ärzte verlassen, anstatt Selbstheilungsmethoden zu erkunden.</p>
<p>Obwohl sich dieser Kurs auf heterosexuelle Dynamiken konzentriert, können viele der Techniken von Menschen aller Orientierungen und Identitäten genutzt werden, um ihre Energie zu steigern.</p>
<div style="margin-top: 20px;"></div>
<h2 id="einführungsvideo">Einführungsvideo</h2>
<div style="margin-top: 20px;"></div>
<iframe width="453" height="807" src="https://www.youtube.com/embed/B43BMrZbdos" 
title="YouTube video player" 
frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe><div style="margin-top: 20px;"></div>
<h2 id="zusammenfassung">Zusammenfassung</h2>
<p>Dieser Kurs ist eine Reise zu einer gesunden und erfüllenden Sexualität, die Körper, Geist und Energie verbindet. Wo auch immer du dich auf deiner Reise befindest, diese Werkzeuge haben das Potenzial, dein Leben zu bereichern.</p>
</div>
</div>
</section>

                </div>
            </div>
            <div class="col-md-3">
                <div class="white-row">
                <h2>Navigation</h2>
 <p>Das ist ein Menu mit einer Liste aller Topics.</p>
<ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/home'>Einführung</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/basics'>Grundlagen</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/massage'>Massage</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/deamoring'>Entpanzerung</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/ritual'>Massage Ritual</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/community'>Community und Networking</a></li>
<ul>
</ul>
</ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9" style="margin-top: 20px">
                <div class="white-row">
                <h2 id="about-the-course">Über den Kurs</h2>
                <p>Dieser Online-Kurs wurde entwickelt, um dir zu helfen, die tiefen Verbindungen zwischen Körper, Geist und Seele zu erforschen – durch Praktiken wie Energiearbeit, achtsame Massage, Entpanzerung und bewusste Sexualität. Du wirst mehr über Chakren, Nadis und Kundalini lernen, um deinen eigenen Energiefluss zu verstehen und zu optimieren. Durch Rituale und einen sanften, traumasensiblen Ansatz unterstützt der Kurs die Lösung emotionaler Blockaden und fördert authentische Intimität. Egal, ob du Single bist oder in einer Beziehung lebst – du wirst praktische Werkzeuge, Übungen und eine unterstützende Gemeinschaft entdecken, um mehr Selbstbewusstsein, tiefere Beziehungen und ganzheitliches Wohlbefinden zu erfahren.</p>
                    </div>
            </div>
            <div class="col-md-3" style="margin-top: 20px">
                <div class="white-row">
                <h2 id="about-the-author">Über den Autor</h2>
                <p class="lead">Adam Art Ananda</p>
                <p>Art, mit bürgerlichem Namen Olaf, war lange Zeit als Softwareentwickler und Designer tätig – bis er 2014 an einem Tantra-Massage-Workshop teilnahm. Seit diesem Tag hat er sein Leben komplett verändert. Er gab seinen gut bezahlten Job in der Schweiz auf und zog nach Dänemark, um endlich das Leben zu genießen (unter anderem beim Kitesurfen). In letzter Zeit war er in Portugal, um beim Aufbau von Gemeinschaften und einer neuen, auf Wahrheit und Liebe basierenden Wirtschaft mitzuwirken. Derzeit lebt er in Berlin (Deutschland).

Nach verschiedenen Massage-Ausbildungen entwickelte er seine eigene Technik: die Prana-Flow-Massage. Trotz seiner neuen Lebensweise ist Art weiterhin im Design tätig – wie man auf dieser Website sehen kann.</p>
                </div>
            </div>
        </div>
    </section>