
    <section class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="white-row">
                <section>
<div class="row">
<div class="col-md-12">
<img class="img-responsive inner" src="https://artanidos.pythonanywhere.com/nocode/static/assets/images/yubyum.png"/>
<div style="margin-top: 20px;"></div>
<h2 id="massage-ritual">Massage Ritual</h2>
<p>Muss noch geschrieben werden</p>
</div>
</div>
</section>

                </div>
            </div>
            <div class="col-md-3">
                <div class="white-row">
                <h2>Navigation</h2>
 <p>Das ist ein Menu mit einer Liste aller Topics.</p>
<ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/home'>Einführung</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/grundlagen'>Grundlagen</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/massage'>Massage</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/deamoring'>Entpanzerung</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/ritual'>Massage Ritual</a></li>
<ul>
</ul>
<li><a id='course-link' href='https://artanidos.pythonanywhere.com/nocode/course/community'>Community und Networking</a></li>
<ul>
</ul>
</ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9" style="margin-top: 20px">
                <div class="white-row">
                <h2 id="about-the-course">Über den Kurs</h2>
                <p>Dieser Online-Kurs wurde entwickelt, um dir zu helfen, die tiefen Verbindungen zwischen Körper, Geist und Seele zu erforschen – durch Praktiken wie Energiearbeit, achtsame Massage, Entpanzerung und bewusste Sexualität. Du wirst mehr über Chakren, Nadis und Kundalini lernen, um deinen eigenen Energiefluss zu verstehen und zu optimieren. Durch Rituale und einen sanften, traumasensiblen Ansatz unterstützt der Kurs die Lösung emotionaler Blockaden und fördert authentische Intimität. Egal, ob du Single bist oder in einer Beziehung lebst – du wirst praktische Werkzeuge, Übungen und eine unterstützende Gemeinschaft entdecken, um mehr Selbstbewusstsein, tiefere Beziehungen und ganzheitliches Wohlbefinden zu erfahren.</p>
                    </div>
            </div>
            <div class="col-md-3" style="margin-top: 20px">
                <div class="white-row">
                <h2 id="about-the-author">Über den Autor</h2>
                <p class="lead">Adam Art Ananda</p>
                <p>Art, mit bürgerlichem Namen Olaf, war lange Zeit als Softwareentwickler und Designer tätig – bis er 2014 an einem Tantra-Massage-Workshop teilnahm. Seit diesem Tag hat er sein Leben komplett verändert. Er gab seinen gut bezahlten Job in der Schweiz auf und zog nach Dänemark, um endlich das Leben zu genießen (unter anderem beim Kitesurfen). In letzter Zeit war er in Portugal, um beim Aufbau von Gemeinschaften und einer neuen, auf Wahrheit und Liebe basierenden Wirtschaft mitzuwirken. Derzeit lebt er in Berlin (Deutschland).

Nach verschiedenen Massage-Ausbildungen entwickelte er seine eigene Technik: die Prana-Flow-Massage. Trotz seiner neuen Lebensweise ist Art weiterhin im Design tätig – wie man auf dieser Website sehen kann.</p>
                </div>
            </div>
        </div>
    </section>